<nav class="navbar navbar-expand-sm navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Employee Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavEmployee"
                aria-controls="navbarNavEmployee" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavEmployee">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
